body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0;
}

a {
text-decoration: none;
color: currentColor;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

button {
cursor: pointer;
}

address {
font-style: normal;
}

img{
    display: block;
}

.container {
width: 1158px;
padding: 0 15px;
margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}

.link {
text-decoration: none;
}

/*--------------------HEADER-------------------*/

.header{
    border-bottom: 1px solid  #E7E9FC;
}

.header-container{
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 40px;
}

.adress-list{
    display: flex;
    gap: 40px;
}

.logo {
    color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}
.logo-part {
    color: #2E2F42;
}
.nav-link {
color:  #2E2F42;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
}

.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.adress-link {
color:  #434455;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
display: flex;
gap: 40px;
}

.address-link:hover,
.address-link:focus{
    color: #404BBF;
}

/*--------------MAIN-------------*/
/*--------------------SECTION1-------------------*/
.hero{
    background-color: #2E2F42;
    margin: 0 auto;
    padding: 188px 0;
}



.main-words {
color: #FFF;
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 48px;
max-width: 496px;
margin: 0  auto;
}
.main-button {
    color: #ffffff;
background:  #4D5AE5;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
padding: 16px 32px 16px 32px;
border-radius: 4px;
display: block;
margin-left:auto;
margin-right:auto;
margin-top: 48px;
min-width: 169px;
height: 56px;
border: none;

}
.button-words{
color: #ffffff ;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}
.main-button:hover,
.main-button:focus{
background:  #404BBF;
}

/*--------------------SECTION2-------------------*/
.hero-sctwo {
    padding: 120px 0;
}
.list {
    display: flex;
    gap: 24px;
}
.sectiontwo-list {
    width: calc((100% - 72px) / 4);
}
.approaches,
.approach-words {
    color: #2E2F42;
    font-family: Roboto;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.approaches {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}
.approach-words {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 72px;
}
.paragraph-words {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Hide visually but still accessible text */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* SECTION3 */
.background-section {
    background-color: #F4F4FD;
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.ourteam-header {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.employee-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.team-member {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    text-align: center;
    border-radius: 0px 0px 4px 4px;

}
.photo-team {
    display: block;
    max-width: 100%;
    height: auto;
}
.employee-container {
    padding: 32px 0;
}
.ourteam-names {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.ourteam-words {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.employee-list li.first-member {
    width: calc((100% - 72px) / 4);
}

.employee-list li.first-member .team-member {
    border-radius: 0px 0px 4px 4px;
}
/* SECTION4 */

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-app {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.app-card {
    border: 1px solid #E7E9FC;
    background: #FFF;
    width: calc((100% - 48px) / 3);
}

.portfolio-header {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-photo {
}

.ourportfolio-apps {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.app-words {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.app-container {
    padding: 32px 16px;  
    border: 1px solid #E7E9FC; 
    border-top: none; 
}
/*--------------------FOOTER-------------------*/

.footer{
    background-color: #2E2F42;
    padding: 100px 0;
    flex-shrink: 0;
}

.footer-container{
    width: 1158px;
    margin: 0 auto;
}

.logo-footer{
    color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-right: 76px;
margin-bottom: 16px;

}

.logo-white{
    color: #F4F4FD;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-paragraph{
    color: #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}